  .schedule-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 90vh;
      background-color: #24292e;
      margin-top: 4vh;
    }
  
  .session-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  #title {
    margin-bottom: 20px;
  }
  
  .session-form label {
    margin-bottom: 8px;
    display: block;
  }
  
  .session-form input,
  .session-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #duration, #time, #date {
    width: 93.5%;
  }
  
  .session-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .session-form button:hover {
    background-color: #0056b3;
  }

  
  .session-form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }

